#grid {
  display: grid;
  grid-template-columns: repeat(5, 124px); 
	grid-template-rows: repeat(5, 124px);
  gap: 4px;
  background-color: white;
  padding: 4px;
}

.grid-item {
      background-color: green;
      color: white;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border: 1px solid white; 
    }
.item1{grid-column:span 4/auto}
.item2 { grid-row: span 4/auto; grid-column: 1 / 2; }
.item3 { grid-column:span 2 / auto; }
.item4 { grid-column:span 2 / auto; }
.item5 { grid-column: span 2 / auto; }
.item6 { grid-column: span 1 / auto; }
.item7 { grid-column:span 1 / auto; }
.item8 { grid-column:span 1 / auto; }
.item9 { grid-column: span 1 / auto; }
.item10 { grid-column: span 3 / auto; }